<ion-view title="Add Place">
	<ion-content>	
		<!-- <span ng-if="currState != 'adminMenu.addPlace'">
				<h5 class="det">Do you wish to add a place or a business?</h5>
				 <div class="row responsive-sm">
        		<div class="col"> 
				<label>
					<ion-radio name="tempat" ng-model="pilihan.tempat"  ng-click="place(1)" value="place">Place</ion-radio>
					<ion-radio name="tempat" ng-model="pilihan.tempat"  ng-click="place(2)" value="buss">Business</ion-radio>
				</label>
				</div>
				</div>
		</span> -->

		<div class="row responsive-sm">
			<div class="col"> 
			<div>
				<form name="placeForm" class="addPForm">
				
				 	<div class="center">
				 	<img ng-src="{{imgData}}"/>
				 	<br>
				 	<button class="button addImgBut" ng-click="getImageSaveContact()">
	  					Add image
  					</button>	
  					</div>
				  	<br>
				  	<p class="ion-information-circled satu" ng-show="placeForm.name.$error.required">
				    	This field is required!
				    </p>
					
					  	<input class="addPT" ng-model="name" name="name"  placeholder=" Place Name" required>
					
								
				    
				  	<p class="ion-information-circled satu" ng-show="placeForm.address.$error.required">
				    	This field is required
				    </p>				    
				    <input class="addPT" ng-model="address" name="address" placeholder=" Address" required>
				    

				    <span class="input-label addPL">
				    	Category :
				    </span>
				    <p class="ion-information-circled satu" ng-show="placeForm.category.$error.required">This field is required</p>
				    <select class="addPT" name="category" ng-model="category" required>
					    <option value="Mosque">Mosque</option>
					    <option value="MK">Market</option>			      
						<option value="HC">Healthcare</option>
						<option value="BC">Beautycare</option>
						<option value="BT">Boutique</option>
						<option value="FD">Food and Drink</option>					
					</select>
					
				    <input class="addPT" placeholder="Phone No." ng-model="phone">
				  
				    <span class="input-label addPL">Closed Day(s) : </span>
				    <ion-list>
				     	<div class="boxWidth">
						   	<ion-checkbox name="hari" ng-init="formDatas.hari.sunday=false" ng-model="formDatas.hari.sunday" >
						   		Sunday
						   	</ion-checkbox>
						 	<ion-checkbox name="hari" ng-init="formDatas.hari.monday=false" ng-model="formDatas.hari.monday">
						 		Monday
						 	</ion-checkbox>
						  	<ion-checkbox name="hari" ng-init="formDatas.hari.tuesday=false" ng-model="formDatas.hari.tuesday">
						  		Tuesday
						  	</ion-checkbox>
						  	<ion-checkbox name="hari" ng-init="formDatas.hari.wednesday=false" ng-model="formDatas.hari.wednesday">		
						  		Wednesday
						  	</ion-checkbox>
						  	<ion-checkbox name="hari" ng-init="formDatas.hari.thursday=false" ng-model="formDatas.hari.thursday">
						  		Thursday
						  	</ion-checkbox>
						  	<ion-checkbox name="hari" ng-init="formDatas.hari.friday=false" ng-model="formDatas.hari.friday">
						  		Friday
						  	</ion-checkbox>
						  	<ion-checkbox name="hari" ng-init="formDatas.hari.saturday=false" ng-model="formDatas.hari.saturday">
						  		Saturday
						  	</ion-checkbox>
						</div>
					</ion-list>
				   
				    <input class="addPT" ng-model="website" placeholder="Website"> 	

				</form>
				<div class="right_p">
					<button class="button icon-left ion-checkmark-round"  style="margin-top: 10px; margin-bottom: 10px" ng-click="addP()" ng-disabled="!name || !category || !address">
						Submit
					</button>
				</div>
		 	</div>
	  
			<!-- <div ng-hide="addBusiness">
				<form name="businessForm" class="addPForm">
					<img ng-src="{{imgData}}"/>	 	
					<div class="center">
						<button class="button addImgBut" ng-click="getImageSaveContact()">
			  				Add image
		  				</button>	
		  			</div>
		  			<br>
					<p class="ion-information-circled satu" ng-show="businessForm.name.$error.required">This field is required
					</p>
				    <input class="addPT" ng-model="name" name="name" placeholder="Business Name" required>
				    
				    <p class="ion-information-circled satu" ng-show="businessForm.address.$error.required">
						This field is required
					</p>				    
					<input class="addPT" ng-model="address" name="address" placeholder=" Address" required>

					<span class="input-label addPL">
					   	Category :
					</span>
					<p class="ion-information-circled satu" ng-show="businessForm.category.$error.required">This field is required</p>
				    <select class="addPT" name="category" ng-model="category" required>
					    <option value="HC">Healthcare</option>
					    <option value="BC">Beautycare</option>
					    <option value="BT">Boutique</option>
					    <option value="FD">Food and Drink</option>
				    </select>

				    <input class="addPT" placeholder="Phone No." ng-model="phone">
				  
				  
				  	<span class="input-label addPL">
				  		Closed Day(s) : 
				  	</span>
					<ion-list>
					  	<div class="boxWidth">
						   	<ion-checkbox name="hari" ng-init="formDatas.hari.sunday=false" ng-model="formDatas.hari.sunday" >
						   		Sunday
						   	</ion-checkbox>
						 	<ion-checkbox name="hari" ng-init="formDatas.hari.monday=false" ng-model="formDatas.hari.monday">
						 		Monday
						 	</ion-checkbox>
						  	<ion-checkbox name="hari" ng-init="formDatas.hari.tuesday=false" ng-model="formDatas.hari.tuesday">
						  		Tuesday
						  	</ion-checkbox>
						  	<ion-checkbox name="hari" ng-init="formDatas.hari.wednesday=false" ng-model="formDatas.hari.wednesday">		
						  		Wednesday
						  	</ion-checkbox>
						  	<ion-checkbox name="hari" ng-init="formDatas.hari.thursday=false" ng-model="formDatas.hari.thursday">
						  		Thursday
						  	</ion-checkbox>
						  	<ion-checkbox name="hari" ng-init="formDatas.hari.friday=false" ng-model="formDatas.hari.friday">
						  		Friday
						  	</ion-checkbox>
						  	<ion-checkbox name="hari" ng-init="formDatas.hari.saturday=false" ng-model="formDatas.hari.saturday">
						  		Saturday
						  	</ion-checkbox>
						</div>
					</ion-list>

					<input class="addPT" ng-model="website" placeholder="Website"> 	
				  
					<span class="input-label addPL" ng-init="own.owner='yes'">
						Is this your own business?
					</span> 
					<div class="boxWidth">
					   	<ion-radio name="owner" ng-model="own.owner" value="yes">Yes</ion-radio>
					   	<ion-radio name="owner" ng-model="own.owner" value="no">No</ion-radio>
					</div>
				</form>  
				<div class="right_p">
					<button class="button icon-left ion-checkmark-round"  style="margin-top: 10px; margin-bottom: 10px" ng-click="addP()" ng-disabled="!name || !category || !address">
						Submit
					</button>
				</div>
				</div> -->
			</div>
		</div> 
		</ion-content>
</ion-view>