<ion-tabs class="tabs-icon-top">
  <ion-tab title="Verify Places" icon="icon ion-filing" href="#/adminMenu/verify">
    <ion-nav-view name="adminMenu-verify"></ion-nav-view>
  </ion-tab>

   <ion-tab title="Add Place" icon="icon ion-filing" href="#/adminMenu/addPlace">
    <ion-nav-view name="adminMenu-addPlace"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Manage Place" icon="icon ion-filing" href="#/adminMenu/browse">
    <ion-nav-view name="adminMenu-mngPlc"></ion-nav-view>
  </ion-tab>

<!--   <ion-tab title="Add Place" icon="icon ion-filing" href="#/adminMenu/addPlace">
    <ion-nav-view name="adminMenuAddPlace"></ion-nav-view>
  </ion-tab> -->
 
</ion-tabs>
