<!-- <ion-header-bar class="bar-positive">
  <h1 class="title">Sign Up</h1>
</ion-header-bar> -->
<ion-content class="has-header padding">
<!-- 
<section class="sectionSignIn">
<span class="spanSignIn"></span> -->
<div class="titleCenter">Sign Up</div>

<div class="addPForm">
  <div class="row responsive-sm">
    <div class="col"> 
      <span class="input-label addPL">Email</span>
        <input class="addPT" ng-model="user.email" autofocus="true" autosave="true">

      <span class="input-label addPL">Username</span>
        <input class="addPT" ng-model="username">

      <span class="input-label addPL">Password</span>
        <input  class="addPT"  ng-model="user.password" type="password">
    </div>
  </div>
</div>
<div class="right_p">
  <button class="button icon-left ion-person-add" ng-click="createUser()">
    Sign Up
  </button> 
</div>

<!-- <input class="textbox1" type="text" ng-model="user.email" placeholder="Email">
<input class="textbox1" type="text" ng-model="username" placeholder="Username">
 <input class="textbox1" type="password" ng-model="user.password" placeholder="Password"> -->

<!--   <button class="buttonSignIn" ng-click="createUser()">Sign Up</button> 
  </section> -->
  <!-- <div class="list">
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="text" ng-model="user.email">
    </label>
    <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password" ng-model="user.password">
    </label>
    <label class="item item-input">
      <button class="button button-block button-positive" ng-click="createUser()">
        Sign Up
      </button>
    </label>
  </div> -->
</ion-content>