<ion-content class="has-header padding">
<!-- <section class="sectionSignIn">
<span class="spanSignIn"></span> -->
<div class="titleCenter">Sign In</div>

<div class="addPForm">
  <div class="row responsive-sm">
    <div class="col"> 
      <span class="input-label addPL">Email</span>
        <input class="addPT" ng-model="user.email" placeholder="Email" autofocus="true" autosave="true">

      <span class="input-label addPL">Password</span>
        <input  class="addPT"  ng-model="user.password" placeholder="Password" type="password">
    </div>
  </div>
</div>
<div class="right_p">
  <button class="button icon-left ion-log-in" ng-click="validateUser()">
    Sign In
  </button> 
</div>
<!-- <div class="signin">
  
  <img ng-src="img/logo.png" class="logo">
   
    <div >
      <input class="textbox1" type="text" ng-model="user.email" placeholder="Email">
    
    </div>
     <div class="item item-input-inset">
    <label class="item-input-wrapper">
     
      <input type="password" ng-model="user.password" placeholder="Password">
    </label>
    </div>
    <div class="centered">
      <button class="button button-block button-positive" ng-click="validateUser()">Sign In</button> 
    </div>
  
  </div> -->
  </section>
</ion-content>