<!-- <ion-header-bar class="bar-positive">
  <h1 class="title">Sign Up</h1>
</ion-header-bar> -->
<ion-content class="has-header padding">
<!-- 
<section class="sectionSignIn">
<span class="spanSignIn"></span> -->
<!-- <div class="titleCenter">Sign Up</div> -->

<div class="addPForm">
  <div class="row responsive-sm signInCont">
    <div class="cSign"> 
      <h2 class="titleS">Muslim Places Finder</h2>
        <input class="addPT" ng-model="user.email" placeholder="Email" autofocus="true" autosave="true">

        <input class="addPT" placeholder="Username" ng-model="username">

        <input  class="addPT"  placeholder="Password" ng-model="user.password" type="password">

        <button class="button icon-left ion-person-add signInBut" ng-click="createUser()">
          Sign Up
        </button> 
    </div>
  </div>
</div>

<!-- <input class="textbox1" type="text" ng-model="user.email" placeholder="Email">
<input class="textbox1" type="text" ng-model="username" placeholder="Username">
 <input class="textbox1" type="password" ng-model="user.password" placeholder="Password"> -->

<!--   <button class="buttonSignIn" ng-click="createUser()">Sign Up</button> 
  </section> -->
  <!-- <div class="list">
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="text" ng-model="user.email">
    </label>
    <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password" ng-model="user.password">
    </label>
    <label class="item item-input">
      <button class="button button-block button-positive" ng-click="createUser()">
        Sign Up
      </button>
    </label>
  </div> -->
</ion-content>