
<ion-header-bar class="bar-positive">
   <button class="button button-clear" ng-click="back()">Back</button>
  <h1 class="title">BROWSE</h1>
  <button class="button button-clear" ng-click="logout()">Logout</button>

</ion-header-bar> 
<ion-view>
<ion-content class="has-header padding">
	<ion-list>
		
  			<div ng-repeat="(id,cat) in category"  class="row responsive-sm"  ng-click = "data(cat.$id)">
          <ion-item class="col-50 col-offset-25">
  				<div class="item item-thumbnail-left">
  					<img ng-src="img/ionic.png">
  					<h2><b> {{cat.name}} </b></h2>
  				</div>
  			</ion-item>
        </div>

	</ion-list>
</ion-content>
</ion-view>
<!-- <ion-nav-view>