<ion-view title="Edit {{data.name}}">
	<ion-content>
		<div class="list">
			<div class="row responsive sm">
				<div class="col">
					<form name="placeForm" class="addPForm">
				    	<span ng-if="imgData">
				    		<div class="center">
				 				<img ng-src="{{imgData}}" style="width:30%; height: auto; margin-top: 5px;"/>
				 			</div>
				 		</span>
				 		<span ng-if="!imgData">
				 			<div class="center">
				 				<img ng-src="{{data.pic}}" style="width:30%; height: auto; margin-top: 5px;"/>
				 			</div>
				 		</span>
				 		<div class="center">
				    		<button class="button addImgBut" ng-click="getImageSaveContact()">
	  							Add image
  							</button>	
  						</div>
			    		<input class="addPT" ng-model="data.name" placeholder="Place/Business Name">
			    		
			    		<span class="input-label addPL">
			    			Category
			    		</span>
			        	<select disabled="" class="addPT">
				      		<option selected>
				      			{{cate}}
				      		</option>
				    	</select>
			  
		  
					    <span class="input-label addPL">
					    	Address
					    </span>
					    <input class="addPT" ng-model="data.address" value="data.address">
			 		   
			    <!-- <span ng-if="data.phone"> -->
				    	<span class="input-label addPL">
				    		Place helpline  No. 
				    	</span>
				    	<input class="addPT" ng-model="data.phone" placeholder="Add phone no.">
			   
			    		<span class="input-label addPL">
			    			Close Days
			    		</span>
			   
			     		<ion-list>
			     			<div class="boxWidth">
					  
							  <ion-checkbox name="hari" ng-model="data.close_days.sunday" ng-checked="data.close_days.sunday">
							  	Sunday
							  </ion-checkbox>
							 
							 <ion-checkbox name="hari" ng-model="data.close_days.monday" ng-checked="data.close_days.monday">
							 	Monday
							 </ion-checkbox>
							 
							  <ion-checkbox name="hari" ng-model="data.close_days.tuesday" ng-checked="data.close_days.tuesday">
							  	Tuesday
							  </ion-checkbox>
							 
							  <ion-checkbox name="hari" ng-model="data.close_days.wednesday" ng-checked="data.close_days.wednesday">
							  	Wednesday
							  </ion-checkbox>
							 
							  <ion-checkbox name="hari" ng-model="data.close_days.thursday" ng-checked="data.close_days.thursday">
							  Thursday
							  </ion-checkbox>
							 
							  <ion-checkbox name="hari" ng-model="data.close_days.friday" ng-checked="data.close_days.friday">
							  	Friday
							  </ion-checkbox>
							 
							  <ion-checkbox name="hari" ng-model="data.close_days.saturday" ng-checked="data.close_days.saturday">
							  	Saturday
							  </ion-checkbox>
							</div>
						</ion-list>
			  
			  <!-- <label class="item item-input item-stacked-label">
			    <span class="input-label">Operation Days</span>
			     <ion-list>
					  <ion-checkbox ng-checked="data.open_days.monday == true">Isnin</ion-checkbox>
					  <ion-checkbox ng-checked="data.open_days.tuesday == true">Selasa</ion-checkbox>
					  <ion-checkbox ng-checked="data.open_days.wednesday == true">Rabu</ion-checkbox>
					  <ion-checkbox ng-checked="data.open_days.thursday == true">Khamis</ion-checkbox>
					  <ion-checkbox ng-checked="data.open_days.friday == true">Jumaat</ion-checkbox>
					  <ion-checkbox ng-checked="data.open_days.saturday == true">Sabtu</ion-checkbox>
					  <ion-checkbox ng-checked="data.open_days.sunday == true">Ahad</ion-checkbox>
					</ion-list>
			  </label> -->

			<!--   <label class="item item-input item-stacked-label">
			    <span class="input-label">Operation Time</span>
			     <ion-list>
			     	 <ion-radio name="time" ng-model="timing" ng-checked="!data.open_hr.allTime" ng-click="spTime()" ng-value="specific">Specific Time</ion-radio>
				        <label class="item item-input item-stacked-label" ng-hide="sTime" >
				          
				          <span class="input-label">Opening Time</span>
				          <input  ng-model="data.open_hr.specific.open_hr">
				          </label>
				      <label class="item item-input item-stacked-label" ng-hide="sTime">
				          <span class="input-label">Closing Time</span>
				          <input ng-model="data.open_hr.specific.close_hr">
				        </label>
				     <ion-radio name="time" ng-model="timing" ng-checked="data.open_hr.allTime" ng-click="closeSPTime()" ng-value="allTime">24 hours</ion-radio>
				</ion-list>
			  </label> -->

			  
			    		<span class="input-label addPL">
			    			Website
			    		</span>
			   <!-- <span ng-if="data.website != false"> -->
			   			<input class="addPT" ng-model="data.website" placeholder="Add Website">
		   <!-- </span> -->
		   <!-- <span ng-if="data.website == false"> -->
		    <!-- <input type="text" placeholder="Add website"> -->
		    <!-- </span> -->
		    		</form>
		  		</div>	
		  	</div>
		   	<div class="right_p">
			   <button class="button icon-left ion-checkmark-round" ng-click="editP()">
			   	Edit
			   	</button>
		    </div>

	</ion-content>
</ion-view>