<!-- <ion-modal-view> -->


     <div class="modal-transparent">
     	<i class="icon ion-ios-close close-modal"   ng-click="closeSearch(3)"></i>
     	<!-- <div class="card" > -->
     	<!-- <ion-content> -->
     	<div class="item item-divider">
	     	<span ng-if="!revData">
	     	Be the first one to review this place <a ng-click="showFadd()">here!</a>

	     	</span>

	     	<ion-item dir-paginate="(name,datas) in revData| itemsPerPage:5">
				  <!-- <h3>Anynomous:</h3>
				  <h4>Good!</h4> -->
			<div class="item item-divider listBox">
				  <span ng-repeat="prof in profile track by $index | filter: {email: datas.user}">
				  	<h3>{{prof.name}}</h3>
				  </span>
				  <h4>{{datas.message}}</h4>
				  

				  <!-- <span ng-init="userN(name)">
				  </span> -->
				  <!-- 
				  <h4
				  <h4>{{datas.rating}}</h4> -->
	 				
				  <span ng-repeat= "str in star(datas.rating) track by $index">
				  	<i class="icon ion-android-star"></i>
				  </span>
				  <span ng-repeat= "str in star(5 - datas.rating) track by $index">
				  	<i class="icon ion-android-star-outline"></i>
				  </span>
				  <h4 class="subdued right">{{datas.creation_date | date:'dd/MM/yyyy hh:mm:ss '}}</h4>
				  
			   <!-- <ionic-ratings ratingsobj='ratingsDisplay'></ionic-ratings>  -->
			</div> 	
				</ion-item>
			</div>

			  
				
			 
			
			
			<!--  <div class="item item-divider">
			   <h3>Ain:</h3>
			  <h4>Good!</h4>
			 </div> -->
			 <div class="item item-divider">
			 <dir-pagination-controls
         max-size="5"
         direction-links="true"
         boundary-links="true" 
         template-url="lib/angularUtils-pagination/dirPagination.tpl.html"
         >
      </dir-pagination-controls>
      </div>
			 <div class="item item-divider">
			   <center>
			   		<a class="button icon-left button-positive" style="margin-top: 10px; margin-bottom: 10px;" ng-click="closeSearch(3)">Close</a>
			   	</center>
			 </div>

			<!-- </ion-content>   -->
		<!-- </div> --> 
		
     </div>
    
<!-- </ion-modal-view> -->

