<!-- <ion-side-menus enable-menu-with-back-views="true">
<ion-side-menu-content>
<ion-nav-bar class="bar-positive">
      <ion-nav-buttons ng-click="back()">
      Set title to banana!
    </ion-nav-buttons>
    </ion-nav-bar>
  </ion-side-menu-content>
  </ion-side-menus> -->

<ion-tabs class="tabs-icon-top tabs-positive">
  <ion-tab title="Browse" icon="icon ion-filing" href="#/menu/browse">
    <ion-nav-view name="menu-browse"></ion-nav-view>
  </ion-tab>
  <!-- <ion-tab title="Completed" icon-on="ion-ios7-checkmark"
    icon-off="ion-ios7-checkmark-outline" href="#/bucket/completed">
    <ion-nav-view name="bucket-completed"></ion-nav-view>
  </ion-tab> -->
  <ion-tab title="Search" icon="icon ion-ios-search-strong" ng-click="show()">
    <ion-nav-view name="menu-search"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Add Place" icon="icon icon ion-android-add" href="#/menu/addPlace">
    <ion-nav-view name="menuPlace"></ion-nav-view>
  </ion-tab>

    <ion-tab title="Profile" icon="icon ion-person" ng-click="uProf(uid)">
    <ion-nav-view name="menuProfile"></ion-nav-view>
  </ion-tab>
</ion-tabs>
