<ion-tabs class="tabs-icon-top">
  <ion-tab title="Browse" icon="icon ion-filing" href="#/menu/browse">
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-tab>
  <!-- <ion-tab title="Completed" icon-on="ion-ios7-checkmark"
    icon-off="ion-ios7-checkmark-outline" href="#/bucket/completed">
    <ion-nav-view name="bucket-completed"></ion-nav-view>
  </ion-tab> -->
  <ion-tab title="Search" icon="icon ion-ios-search-strong" ng-click="show()">
    <ion-nav-view name="menu-search"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Add Place" icon="addPlace" href="#/menu/addPlace">
    <ion-nav-view name="menuPlace"></ion-nav-view>
  </ion-tab>

    <ion-tab title="Profile" icon="icon ion-person" href="#/menu/profile">
    <ion-nav-view name="menuProfile"></ion-nav-view>
  </ion-tab>
</ion-tabs>
