<!-- <ion-modal-view class="search"> -->
     <div class="modal transparent">
     	<div class="card">
     		<i class="icon ion-ios-close close-modal" ng-click="closeSearch(1)"></i>
     		 <div class="item item-divider">
			   <button class="button button-full button-stable">WAZE</button>
			 </div>
			 <div class="item item-divider">
			   <button class="button button-full button-stable">GOOGLE MAPS</button>
			 </div>
			 <div class="item item-divider">
			   <button class="button button-full button-stable">PAPAGO</button>
			 </div>
		</div> 
     </div>
     
<!-- </ion-modal-view> -->

