<ion-nav-view>
    <ion-header-bar class="bar-positive">
     <button class="button button-clear" ng-click="back()">Back</button>
        <h1 class="title">{{data.name}}</h1>
     <button class="button button-clear" ng-click="logout()">Logout</button>
  </ion-header-bar>
  <ion-content class="has-header padding">    
    <ion-list>
      <div class="imgCenter">
        <img ng-src="{{data.pic}}" style="width:82px; height: auto; margin-top: 5px;"/>
      </div>
      <div class="titleCenter">
        <b>{{data.name}}</b>
        <br>
        <span ng-if="ave">
            <span ng-repeat=  "str in star(ave) track by $index">
              <i class="icon ion-android-star"></i>
            </span>
            <span ng-repeat= "str in star(5 - ave) track by $index">
              <i class="icon ion-android-star-outline"></i>
            </span>
          </span>
      </div>
      <ion-item class="row detailBox item-text-wrap">
        <div class="col" >     
          <br>
          <span class="ion-location">
            <span class="det">
              {{data.address}}
            </span>
          </span>
          <br> 
          <span ng-if="data.phone"> 
            <span class="icon ion-iphone">
              <span class="det">
                {{data.phone}}  
              </span>
            </span>
            <br>
          </span>
          
          <span ng-if="totalDay != 0">
            <span class="icon ion-android-calendar iconSize">
              <span class="det">
                <span ng-if="totalDay == 1">
                  <span ng-repeat="day in everyday track by $index ">              
                    Everyday except {{day}} 
                  </span>
                </span>
                <span ng-if="totalDay != 1">
                  <span ng-repeat="day in open track by $index ">              
                    {{day}} 
                  </span>
                </span>
              </span>
            </span>
          </span>
          <span ng-if="totalDay == 0">
            <span class="icon ion-android-calendar iconSize">
              <span class="det">
                Everyday
              </span>
            </span>
          </span>
          <!-- <span ng-if="totalDay == 1">
            <span class="icon ion-android-calendar iconSize">
              <span class="det">
                Everyday except
                 <span ng-repeat="day in open track by $index ">              
                  {{day}} 
                </span>
              </span>
            </span>
          </span> -->

          <br>
          <!--  <span ng-if="totalDay != 0">
              <span ng-if="totalDay>3">
                <u>OPEN DAY(S)</u>
                <br>
                 <span ng-repeat="day in open track by $index ">              
                {{day}}<br>
                </span>
              </span>
                

               <span ng-if="totalDay<3">
                <u>CLOSE DAY(S)</u>              
    <span class="icon ion-ios-world iconSize">            <br>
                <span ng-repeat="day in everyday track by $index">              
                {{day}}<br>
                </span>
            </span>   -->
              
          
          <span ng-if="data.website">
              <span class="icon ion-ios-world iconSize">
                <span class="det">
                  {{data.website}}
                </span>
              </span>
          </span>
          <br>
          
          <!-- {{data.created_date | date:'dd MMM yyyy hh:mm:ss '}}  -->
         <!--  <br>  -->         
        </div>
      </ion-item>

      <div class="row responsive-sm">
        <span ng-if="currState == 'adminMenu.details'" class="centerB">
          <span ng-if="data.status != 'pending'">
            <button class="button icon-left ion-trash-a right_p" ng-click="delPlc(data.name)">
              Delete
            </button> 

            <button class="button icon-left ion-android-create right_p" ng-click="editPlc()">
              Edit
            </button>
          </span>
          <span ng-if="data.status == 'pending'">
            <button class="button icon-left ion-plus-round" ng-click="appPlc(data.name)">
              Approve
            </button> 

            <button class="button icon-left ion-close-round" ng-click="rejPlc(data.name)">
              Reject
            </button>
          </span>
        </span>

      </div>
      <div>
        <span ng-if="currState == 'menu.details'">
          <span ng-if="data.status == 'approved'">
                  <!--   <a class="button icon-left ion-navigate button-positive" style="width: 200px; height: 20px; margin-top: 5px;" ng-click="show(1)">Navigate<ion-nav-view name="menu-navigate"></ion-nav-view></a> -->
         
            <a class="button icon-left ion-navigate"
              ng-href="geo:0,0?q=({{data.address}})"
              ng-click="$event.stopPropagation()"
              target="_blank">
                Go
            </a>
            <button class="button icon-left ion-star" ng-click="show(2)">
              Rate
            </button>
            <button class="button icon-left ion-clipboard" ng-click="show(3)">
              View Review
            </button>
          </span>
          <span ng-if="data.status == 'reject' || data.status == 'pending'">
            <button class="button icon-left ion-trash-a" ng-click="delPlc(data.name)">
              Delete
            </button> 
          </span>
          <span ng-if="data.status == 'pending' ">
            <button class="button icon-left ion-android-create" ng-click="editPlc()">
              Edit
            </button>
          </span>
        </span>
    </ion-list> 
  </ion-content>
<ion-nav-view>
