<!-- <ion-nav-view > -->
<!-- <ion-header-bar class="bar-positive">
   <button class="button button-clear" ng-click="back()">Back</button>
  <h1 class="title">{{asHeader.name}}</h1>
  <button class="button button-clear" ng-click="logout()">Logout</button>
</ion-header-bar> -->

<ion-view title="{{asHeader.name}}">
  <!-- <ion-nav-title>
    Test
    </ion-nav-title> -->

  <ion-content>  

    <ion-list> 
    <div class="search">
        <label class="item item-input">
             <i class="icon ion-search placeholder-icon"></i>
            <input type="text" ng-model="search" placeholder="Search" cache="false">
        </label>
    </div>   
      <div class="row responsive-sm">
        <div class="col"> 
          <ion-item dir-paginate="(id,plc) in places | filter: {category:cat, status:'Approved'} | filter:search | orderBy: 'rankVal' : true | itemsPerPage: pageSize" class="item-thumbnail-left listBox item-text-wrap">           
              <img ng-src="{{plc.pic}}"/>
              <div class="detailsList" ng-click = "data(plc.$id)">
              <h2   class="link">
                <b> {{plc.name}} </b>
              
                <span ng-if="plc.rankVal"> 
                  <h4 class="right_p">#{{id+1}} of {{i}} {{asHeader.name}}</h4>
                </span>
                </h2>
              <span ng-if="currState == 'menu.list'">
                <span ng-if="!plc.rankVal">
                  <p>No review</p>
                </span>
                <span ng-if="plc.rankVal"> 
                  <!-- <p> Rank value : {{plc.rankVal}}</p> -->
                  <!-- <p> {{plc.overallStar}} </p> -->
                  <!-- <h5>{{plc.overallStar.toFixed(1)}}</h5> -->
                  <span ng-repeat= "str in star(plc.overallStar) track by $index">
                    <i class="icon ion-android-star"></i>
                  </span>
                  <span ng-repeat= "str in star(5 - plc.overallStar) track by $index">
                    <i class="icon ion-android-star-outline"></i>
                  </span>
                    
                    <span style="font-size: 13px">({{plc.ratePerson}} reviews)</span>
                    
                </span>
                <!-- <div ng-init="loc(plc.address,id+1)"> -->
                  <p class="subdued right dist" ng-init="loc(plc.address,id+1)">
                    <span ng-if="displayDist">
                      {{jarak[id+1]}} km 
                    </span>
                  </p> 
                  
                <!-- </div> -->
               
              </span>
              </div>
              <span ng-if="currState == 'adminMenu.list' || plc.status == 'Pending'">
                <button class="button icon-left ion-trash-a subdued right_p" ng-click="delPlc(plc.$id,plc.name)">
                  Delete
                </button> 

                <span ng-if="plc.status != 'Pending'">
                  <button class="button icon-left ion-android-create subdued right_p mar" ng-click="editPlc(plc.$id)">
                    Edit
                  </button>
                </span>
              </span>
              <!-- {{plc.address}}
              <p>
              1. 7.9km
              2. 13km
              3.  14km
              4. 4.8km
              </p> -->
              
          </ion-item>
          
      </div>   
      </div> 
      <div class="row responsive-sm">
        <dir-pagination-controls
           max-size="5"
           direction-links="true"
           boundary-links="true" 
           on-page-change="pageChangeHandler(newPageNumber)"
           template-url="lib/angularUtils-pagination/dirPagination.tpl.html"
           >
        </dir-pagination-controls>
      </div>
    </ion-list>  
  </ion-content>
</ion-view>
<!-- <ion-nav-view>
