<!-- <ion-nav-view > -->
<!-- <ion-header-bar class="bar-positive">
   <button class="button button-clear" ng-click="back()">Back</button>
  <h1 class="title">{{asHeader.name}}</h1>
  <button class="button button-clear" ng-click="logout()">Logout</button>
</ion-header-bar> -->

<ion-view title="{{asHeader.name}}" cache="false">
  <!-- <ion-nav-title>
    Test
    </ion-nav-title> -->

  <ion-content>  
    <ion-refresher
          pulling-text="Refreshing..."
          on-refresh="refresh()">
      </ion-refresher>

    <ion-list> 
    <div class="search">
        <label class="item item-input">
             <i class="icon ion-search placeholder-icon"></i>
            <input type="text" ng-model="search.$" placeholder="Search" cache="false">
        </label>
    </div>   
    <!-- <div class="search">
        <label class="item item-input">
             <i class="icon ion-search placeholder-icon"></i>
            <input type="text" ng-model="filt" placeholder="Search">
            <button class="button subdued right_p" ng-click="setDist(10)">
                  Filter
                </button> 
        </label>

    </div>  -->  
     
          <ion-item ng-repeat="(id,plc) in places | filter: {category:cat, status:'Approved'}" style="border: none; padding: 0px;">  
          <p  ng-init="loc(plc.address,id+1,plc)">
                    <!-- <span ng-if="displayDist">
                      {{jarak[id+1].dist}} km 
                    </span> -->
          </p> 
          <!-- <div  class="item-thumbnail-left listBox item-text-wrap"> -->
          
           <!--  <span ng-if="jarak[id+1].display"> -->
            
         <!--    <div  class="item-thumbnail-left listBox item-text-wrap" style="margin-right: 0px; margin-left: 0px">
            <img ng-src="{{plc.pic}}"/> -->
            
             <!--  
              <div class="detailsList" ng-click = "data(plc.$id)">
              <h2   class="link">
                <b> {{plc.name}} </b>
              
                <span ng-if="currState == 'menu.list'">
                  <span ng-if="plc.rankVal"> 
                    <span ng-if="displayPlc">
                      <h4 class="right_p" style="margin-right: 10px;"># {{jarak[id+1].pos}} of {{bil-1}} {{asHeader.name}}</h4>
                      </span>
                  </span>
                </span>
                </h2>
              <span ng-if="currState == 'menu.list'">
                <span ng-if="!plc.rankVal">
                  <p>No review</p>
                </span>
                <span ng-if="plc.rankVal">  -->
                  <!-- <p> Rank value : {{plc.rankVal}}</p> -->
                  <!-- <p> {{plc.overallStar}} </p> -->
                  <!-- <h5>{{plc.overallStar.toFixed(1)}}</h5> -->
               <!--    <span ng-repeat= "str in star(plc.overallStar) track by $index">
                    <i class="icon ion-android-star"></i>
                  </span>
                  <span ng-repeat= "str in star(5 - plc.overallStar) track by $index">
                    <i class="icon ion-android-star-outline"></i>
                  </span>
                    
                    <span style="font-size: 13px">({{plc.ratePerson}} reviews)</span>
                    
                </span>
                <span ng-if="jarak[id+1].display">
                <p class="subdued right dist">{{jarak[id+1].dist}} km </p>
                </span> -->
                <!-- <div ng-init="loc(plc.address,id+1)"> -->
                  
                  
                <!-- </div> -->
               
             <!--  </span>
              </div>
              <span ng-if="currState == 'adminMenu.list' || plc.status == 'Pending'">
                <button class="button icon-left ion-trash-a subdued right_p" ng-click="delPlc(plc.$id,plc.name)">
                  Delete
                </button> 

                <span ng-if="plc.status != 'Pending'">
                  <button class="button icon-left ion-android-create subdued right_p mar" ng-click="editPlc(plc.$id)">
                    Edit
                  </button>
                </span>
              </span>
              </div> -->
              <!-- </span> -->

             <!--  <span ng-if="displayPlc == 'failed'">
                <div  class="item-thumbnail-left listBox" style="margin-right: 0px; margin-left: 0px">
            <img ng-src="{{plc.pic}}"/>
            
              
              <div class="detailsList" ng-click = "data(plc.$id)">
              <h2   class="link">
                <b> {{plc.name}} </b>
              
                <span ng-if="currState == 'menu.list'">
                  <span ng-if="plc.rankVal"> 
                    <h4 class="right_p" style="margin-right: 10px;">#{{id+1}} of {{i}} {{asHeader.name}}</h4>
                  </span>
                </span>
                </h2>
              <span ng-if="currState == 'menu.list'">
                <span ng-if="!plc.rankVal">
                  <p>No review</p>
                </span>
                <span ng-if="plc.rankVal"> 
                  <!-- <p> Rank value : {{plc.rankVal}}</p> -->
                  <!-- <p> {{plc.overallStar}} </p> -->
                  <!-- <h5>{{plc.overallStar.toFixed(1)}}</h5> -->
                 <!--  <span ng-repeat= "str in star(plc.overallStar) track by $index">
                    <i class="icon ion-android-star"></i>
                  </span>
                  <span ng-repeat= "str in star(5 - plc.overallStar) track by $index">
                    <i class="icon ion-android-star-outline"></i>
                  </span>
                    
                    <span style="font-size: 13px">({{plc.ratePerson}} reviews)</span>
                    
                </span>
                
                <!-- <div ng-init="loc(plc.address,id+1)"> -->
                  
                  
                <!-- </div> -->
               
             <!--  </span>
              </div>
              <span ng-if="currState == 'adminMenu.list' || plc.status == 'Pending'">
                <button class="button icon-left ion-trash-a subdued right_p" style="margin-right: 10px;" ng-click="delPlc(plc.$id,plc.name)">
                  Delete
                </button> 

                <span ng-if="plc.status != 'Pending'">
                  <button class="button icon-left ion-android-create subdued right_p mar" ng-click="editPlc(plc.$id)">
                    Edit
                  </button>
                </span>
              </span>
              </div>
              </span> --> 
             <!--  </div> -->
          </ion-item>
 <div class="row responsive-sm">
        <div class="col"> 
          <div class="right_p">
            <h4>
            <span>Sort By : </span>
             <span ng-click="order('pos')">Rank</span>
             <span class="sortorder" ng-show="predicate === 'pos'"></span>
             <span ng-click="order('dist')">Distance</span>
             <span class="sortorder" ng-show="predicate === 'dist'"></span>
             </h4>
           </div>

           <ion-item dir-paginate="(id,plc) in jarak | filter: {display:true} | filter: search | orderBy: predicate | itemsPerPage: pageSize" class="item-thumbnail-left listBox item-text-wrap"  >  
           <img ng-src="{{plc.place.pic}}"/>
           <div class="detailsList" ng-click = "data(plc.place.$id)">
              <b>{{plc.place.name}}
            
                  <span ng-if="plc.place.rankVal"> 
                      <h4 class="subdued right_p" style="padding: none;"># {{plc.pos}} of {{bil-1}} {{asHeader.name}}</h4>
                  </span>
              </b>

                 
                <span ng-if="!plc.place.rankVal">
                  <p>No review</p>
                </span>
                <span ng-if="plc.place.rankVal"> 
                <br>
                  <!-- <p> Rank value : {{plc.rankVal}}</p> -->
                  <!-- <p> {{plc.overallStar}} </p> -->
                  <!-- <h5>{{plc.overallStar.toFixed(1)}}</h5> -->
                  <span ng-repeat= "str in star(plc.place.overallStar) track by $index">
                    <i class="icon ion-android-star"></i>
                  </span>
                  <span ng-repeat= "str in star(5 - plc.place.overallStar) track by $index">
                    <i class="icon ion-android-star-outline"></i>
                  </span>
                    
                    <span style="font-size: 13px">({{plc.place.ratePerson}} reviews)</span>
                    
                </span>
                <span ng-if="plc.display">
                <p class="subdued right dist">{{plc.dist}} km </p>
                </span>               
             

              </div>
             
          </ion-item>
          
      </div>   
      </div> 
      <div class="row responsive-sm">
        <dir-pagination-controls
           max-size="5"
           direction-links="true"
           boundary-links="true" 
           on-page-change="pageChangeHandler(newPageNumber)"
           template-url="lib/angularUtils-pagination/dirPagination.tpl.html"
           >
        </dir-pagination-controls>
         <!-- <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll> -->
      </div>
    </ion-list>  
  </ion-content>
</ion-view>
<!-- <ion-nav-view>
