<ion-view title="Profile">
	<ion-content>
		<div>
			<center>
				<span ng-if="imgData">
				 	<img ng-src="{{imgData}}" style="width:30%; height: auto; margin-top: 5px;"/>
				 </span>
				 <span ng-if="!imgData">
				 	<img ng-src="{{data.pic}}" style="width:30%; height: auto; margin-top: 5px;"/>
				 	<span ng-if="!data.pic">
				 		No pic
				 	</span>
				 </span>
				
	  				<i class="icon ion-edit" ng-click="getImageSaveContact()"></i>
  				
				<h3>{{data.name}}</h3>
						
			</center>
			 <ion-item class="detailBox item-text-wrap">
        <div class="col" >    
				<h3 class="center">Login Information</h3>
				
				<div>
					<p>Username : {{data.name}}</p> 
					<p>Email Address : {{email}}</p>
					<p>Password : ******  
					<button class="subdued right_p pass" ng-click="show()">
      					Change Password
    				</button></p>
					
				</div>
				</div>
				</ion-item>
			</div>
			
			<h4 style="margin-left: 15px" ng-if="(pl| filter: {userId:profId}).length == 0">You did not added any place</h4>
			<span ng-if="(pl| filter: {userId:profId}).length > 0">
			<h4 style="margin-left: 15px">List of added places</h4>
			<!-- <ion-item class="row detailBox item-text-wrap">
        	<div class="col" >  -->
			 <div class="search">
		        <label class="item item-input">
		             <i class="icon ion-search placeholder-icon"></i>
		            <input type="text" ng-model="search" placeholder="Search">
		        </label>
		    </div>   
			<div class="list">
			<ion-item dir-paginate="plc in pl | filter: {userId:profId} | filter: search | itemsPerPage:5" class="item-thumbnail-left detailBox item-text-wrap" >
					<img ng-src="{{plc.pic}}"/>
					<h3 class="link" ng-click="plcDetails(plc.$id)"><b>{{plc.name}}</b></h3>
					<h4>{{plc.created_date | date:'dd MMM yyyy hh:mm:ss '}} </h4>
					<h4>Status : {{plc.status}}</h4>
					<span ng-if="plc.status == 'Rejected'">
						<h4>Message from Admin : {{plc.rejectMsg}}</h4>
					</span>
      				<i class="icon ion-trash-a profBut" ng-click="delPlc(plc.$id,plc.name)"></i>

    				<span ng-if="plc.status != 'Rejected'">
      					<i class="icon ion-edit profBut" ng-click="editPlc(plc.$id)"></i>
    				</span>
    				</ion-item>
    				<br>
			</div>
			
		  		<!-- <div class="item">
		    		Place 1	
		    		<button class="button button-positive" ng-click="edit()">
      					<i class="icon ion-edit"></i>
    				</button>
    				<button class="button button-positive">
      					<i class="icon ion-trash-a"></i>
    				</button>		    		
		  		</div>
		  		<div class="item">
		    		Place 2	
		    		<button class="button button-positive" ng-click="edit()">
      					<i class="icon ion-edit"></i>
    				</button>
		    		<button class="button button-positive">
      					<i class="icon ion-trash-a"></i>
    				</button>		    		
		  		</div> -->
		  	<!-- </div>
		  	</ion-item> -->
		  	</span>
		  	<dir-pagination-controls
         max-size="5"
         direction-links="true"
         boundary-links="true" 
         template-url="lib/angularUtils-pagination/dirPagination.tpl.html"
         >
      </dir-pagination-controls>
		</div>
	</ion-content>
</ion-view>