<ion-view>
	<ion-header-bar class="bar-positive">
		<button class="button button-clear" ng-click="back()">Back</button>
		<h1 class="title">Profile</h1>
		<button class="button button-clear" ng-click="logout()">Logout</button>
	</ion-header-bar>
	<ion-content>
		<div>
			<center>
				<img src="img/profile.png" style="width: 150px; margin-top: 5px;">
				<h3>Nurfarrah Ain</h3>
				<a class="button icon-left ion-navigate button-positive" style="margin-top: 5px;">Change profile pic</a>			
			</center>
			<h4>List of added places</h4>
			<div class="list">
		  		<div class="item">
		    		Place 1	
		    		<button class="button button-positive" ng-click="edit()">
      					<i class="icon ion-edit"></i>
    				</button>
    				<button class="button button-positive">
      					<i class="icon ion-trash-a"></i>
    				</button>		    		
		  		</div>
		  		<div class="item">
		    		Place 2	
		    		<button class="button button-positive" ng-click="edit()">
      					<i class="icon ion-edit"></i>
    				</button>
		    		<button class="button button-positive">
      					<i class="icon ion-trash-a"></i>
    				</button>		    		
		  		</div>
		  	</div>
		</div>
	</ion-content>
</ion-view>