<ion-view>
	<ion-header-bar class="bar-positive">
		<button class="button button-clear" ng-click="back()">Back</button>
		<h1 class="title">Profile</h1>
		<button class="button button-clear" ng-click="logout()">Logout</button>
	</ion-header-bar>
	<ion-content>
		<div>
			<center>
				<img src="img/profile.png" style="width: 150px; margin-top: 5px;">
				<h3>{{data.name}}</h3>
				<a class="button icon-left ion-navigate button-positive" style="margin-top: 5px;">Change profile pic</a>				
			</center>
			<div class="loginInfo">
				<h3>Login Information</h3>
				
				<div>
					<p>Username : {{data.name}} 
					<p>Email Address : {{email}}
					<p>Password : ******  <button class="subdued right_p mar" ng-click="show()">
      					Change Password
    				</button></p>
					
				</div>
				</div>
			
			<h4 ng-if="(pl| filter: {userId:profId}).length == 0">You did not added any place</h4>
			<span ng-if="(pl| filter: {userId:profId}).length > 0">
			<h4>List of added places</h4>
			<div class="list">
			<div ng-repeat="plc in pl | filter: {userId:profId}">
				<div class="item">
					<span class="link" ng-click="plcDetails(plc.$id)">{{plc.name}}</span>
					<h3>{{plc.created_date | date:'dd MMM yyyy hh:mm:ss '}} </h3>
					<h3>{{plc.status}}</h3>
					<h3>{{plc.rejectMsg}}</h3>
					<button class="button button-positive subdued right_p" ng-click="delPlc(plc.$id,plc.name)">
      					<i class="icon ion-trash-a"></i>
    				</button>	

					<button class="button button-positive subdued right_p mar" ng-click="editPlc(plc.$id)">
      					<i class="icon ion-edit"></i>
    				</button>

    				

				</div>
			</div>
		  		<!-- <div class="item">
		    		Place 1	
		    		<button class="button button-positive" ng-click="edit()">
      					<i class="icon ion-edit"></i>
    				</button>
    				<button class="button button-positive">
      					<i class="icon ion-trash-a"></i>
    				</button>		    		
		  		</div>
		  		<div class="item">
		    		Place 2	
		    		<button class="button button-positive" ng-click="edit()">
      					<i class="icon ion-edit"></i>
    				</button>
		    		<button class="button button-positive">
      					<i class="icon ion-trash-a"></i>
    				</button>		    		
		  		</div> -->
		  	</div>
		  	</span>
		</div>
	</ion-content>
</ion-view>