     <div class="modal transparent">
     	<div class="card">
     		<!-- <i class="icon ion-ios-close close-modal" ng-click="close()"></i> -->
     		 <div class="item item-divider">
			   <!-- <input class="textbox1" type="text" ng-model="email" placeholder="Email">
				<input class="textbox1" type="text" ng-model="data.name" placeholder="Username"> -->
				 <input class="textbox1" type="text" ng-model="msg" placeholder="{{rejId}}">
			 </div>
			 <div class="item item-divider">
			   <center><a class="button icon-left button-positive" style="margin-top: 10px; margin-bottom: 10px;" ng-click="addRejMsg(rejId)">Submit</a></center>
			 </div>
			 
		</div> 
     </div>

