<!-- <ion-nav-view> -->
<ion-header-bar class="bar-positive">
   <button class="button button-clear" ng-click="back()">Back</button>
  <h1 class="title">Search Result</h1>
  <button class="button button-clear" ng-click="logout()">Logout</button>
</ion-header-bar>



<ion-view>

<ion-content class="has-header padding">

  
  <ion-list>
    <div class="row responsive-sm">
      <div class="col">         
        <h4 ng-if="(plc| filter: result).length == 0">No result found</h4>
          <ion-item ng-repeat="(id,place) in plc | filter: result | orderObjectBy: 'rankVal' : true" ng-click="placeData(place.$id)" class="item-thumbnail-left listBox">    
            <img ng-src="img/ionic.png">
              <h2><b> {{place.name}} <b></h2>
              <span ng-if="!place.rankVal">
                <p>This place not being rate yet </p>
              </span>
              <span ng-if="place.rankVal"> 
                  <p>Rank : {{id + 1}}</p>
                  <!-- <p> Rank value : {{plc.rankVal}}</p> -->
                  <!-- <p> {{plc.overallStar}} </p> -->
                  <span ng-repeat= "str in star(place.overallStar) track by $index">
                    <i class="icon ion-android-star"></i>
                  </span>
                  <span ng-repeat= "str in star(5 - place.overallStar) track by $index">
                    <i class="icon ion-android-star-outline"></i>
                  </span>
                    ({{place.ratePerson}})
                </span>
               <!--  <button ng-click="loc(place.address,id+1)">Click</button> -->
                <p class="subdued right" ng-init="loc(place.address,id+1)">
                  <span ng-if="displayDist">
                    Distance : {{jarak[id+1]}} km 
                  </span>
                </p>            
          </div>
        </ion-item>
        </div>
        </div>
    
  </ion-list>
  
</ion-content>
</ion-view>
<!-- <ion-nav-view>
 -->